<?php
header("Content-type: text/css");
$white = '#fff';
$dkgray = '#333';
$dkgreen = '#008400';
?>
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Condensed';
	
}

.colorOne{
	background-color: #F22613;
}
.colorTwo{
	background-color: rgba(150, 40, 27, 0.5)!important;
}
.colorBorder{
	border-color: #F22613;
}
.colorText{
	
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	color: white;
	border: solid 5px white;
	width: 500px;
	margin: auto;
	}
.ShowAnswersButton{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border-width: 5px;
	border-style: solid;
	position: fixed;
	right: 5px;
	top: 5px;
	background-color: white;
	
}
.ShowQuestionsButton{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border-width: 5px;
	border-style: solid;
	position: fixed;
	left: 5px;
	top: 5px;
}

.ShowAllQuestionsButtonClick{
	background-color:  white!important;
}
.titles{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	padding: 0;
	background-color: #F22613;
	height: 0;
	color: white;
}
.subtitles{
	text-align: center;
	font-weight: bold;
	padding: 0;
	background-color: #F22613;
	height: 0;
	color: white;
}
table{
	width: 500px;
	margin:auto;
	margin-top: 30px;
	
}
td{
	background-color: white;
	font-size: 25px;
	height: 100px;
	padding-left: 2%;
}
.answers{
	opacity: 0;
	background-color: white;
}
.answersall{
	opacity: 1;
	background-color: white;
}
.questions{
	opacity: 1;
	background-color: white;
}
.questionsall{
	opacity: 0;
	background-color: white;
}
.answers:hover{
	opacity: 1;
}
.questions:hover{
	opacity: 1;
}
/*indents*/
span{
	margin-left: 40px;
}
img{
	width: 170px;
	
}
.background{
	/*background-image: url("../images/grade10math.jpg");*/
	background-color: green;
	width: 100%;
	padding-top: 20px;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;

}
.Units{
	margin-top: 30px;
	margin-bottom: 30px;
	 
	 margin:auto;
	 width: 450px;
	 padding-left: 30px;


}
.UnitsRow{ 
  margin-top: 10px;
}
.UnitSelect{
  width: 40px;
	height: 40px;
	border-radius: 100%;
	border: #F22613 solid 4px;
	background-color: white;
	float:left;
	margin-right: 10px;



  
}
.UnitOneUnselect{
	border: #F22613 solid 4px;
	background-color: rgba(150, 40, 27, 0.5);

  
}
.UnitWords p{
  color: white; 
  font-size: 25px;
  padding-top: 5px;
  margin-left: 10px;


}

.HideUnit{
	display: none;
	
}










